<%- include('./layouts/header') %>

    <h2>Resetting Password ...</h2>
    <form action="/auth/reset/<%= role %>" method="post">
        <input type="email" name="email" value="<%= email %>" readonly><br><br> <!-- Here email will always exist -->


        <input type="password" name="password" id="" placeholder="New Password">
        <input type="password" name="password2" id="" placeholder="Confirm Password">
        <input type="text" name="role" id="" value="<%= role %>" hidden>
        <input type="text" name="passKey" id="" value="<%= passKey %>" hidden>

        <input type="submit" value="Change Password">

    </form>

    <%- include('./layouts/footer') %>