<select name="place" class="place">
    <option value="NONE" selected disabled>None</option>
    <option value="ML1" <%=location.place==='ML1' ? 'selected' : '' %>>ML1</option>
    <option value="ML2" <%=location.place==='ML2' ? 'selected' : '' %>>ML2</option>
    <option value="ML3" <%=location.place==='ML3' ? 'selected' : '' %>>ML3</option>
    <option value="ML4" <%=location.place==='ML4' ? 'selected' : '' %>>ML4</option>
    <option value="ML5" <%=location.place==='ML5' ? 'selected' : '' %>>ML5</option>
    <option value="ML6" <%=location.place==='ML6' ? 'selected' : '' %>>ML6</option>
    <option value="ML7" <%=location.place==='ML7' ? 'selected' : '' %>>ML7</option>
    <option value="ML8" <%=location.place==='ML8' ? 'selected' : '' %>>ML8</option>
    <option value="ML9" <%=location.place==='ML9' ? 'selected' : '' %>>ML9</option>
    <option value="ML10" <%=location.place==='ML10' ? 'selected' : '' %>>ML10</option>
    <option value="ML11" <%=location.place==='ML11' ? 'selected' : '' %>>ML11</option>
    <option value="ML12" <%=location.place==='ML12' ? 'selected' : '' %>>ML12</option>
    <option value="ML13" <%=location.place==='ML13' ? 'selected' : '' %>>ML13</option>
    <option value="ML14" <%=location.place==='ML14' ? 'selected' : '' %>>ML14</option>
    <option value="ML15" <%=location.place==='ML15' ? 'selected' : '' %>>ML15</option>
    <option value="ML16" <%=location.place==='ML16' ? 'selected' : '' %>>ML16</option>
    <option value="ML17" <%=location.place==='ML17' ? 'selected' : '' %>>ML17</option>
    <option value="ML18" <%=location.place==='ML18' ? 'selected' : '' %>>ML18</option>
    <option value="ML19" <%=location.place==='ML19' ? 'selected' : '' %>>ML19</option>
    <option value="ML20" <%=location.place==='ML20' ? 'selected' : '' %>>ML20</option>
    <option value="ML21" <%=location.place==='ML21' ? 'selected' : '' %>>ML21</option>
    <option value="ML22" <%=location.place==='ML22' ? 'selected' : '' %>>ML22</option>
    <option value="ML23" <%=location.place==='ML23' ? 'selected' : '' %>>ML23</option>
    <option value="ML24" <%=location.place==='ML24' ? 'selected' : '' %>>ML24</option>
    <option value="ML25" <%=location.place==='ML25' ? 'selected' : '' %>>ML25</option>
    <option value="ML26" <%=location.place==='ML26' ? 'selected' : '' %>>ML26</option>
    <option value="ML27" <%=location.place==='ML27' ? 'selected' : '' %>>ML27</option>
    <option value="ML28" <%=location.place==='ML28' ? 'selected' : '' %>>ML28</option>
    <option value="ML29" <%=location.place==='ML29' ? 'selected' : '' %>>ML29</option>
</select>