
<select name="section" class="section">
    <option value="NONE" selected disabled>None</option>
    
    <option value="<%= temp %>" selected ><%= temp %></option>
    <option value="CSE1" <%= temp ==='CSE1' ? 'selected' : '' %>>CSE1</option>
    <option value="CSE2" <%= temp ==='CSE2' ? 'selected' : '' %>>CSE2</option>
    <option value="CSE3" <%= temp ==='CSE3' ? 'selected' : '' %>>CSE3</option>
    <option value="CSEAIML" <%= temp ==='CSEAIML' ? 'selected' : '' %>>CSEAIML</option>
    <option value="CSEDS" <%= temp ==='CSEDS' ? 'selected' : '' %>>CSEDS</option>
    <option value="CS1" <%= temp ==='CS1' ? 'selected' : '' %>>CS1</option>
    <option value="CS2" <%= temp ==='CS2' ? 'selected' : '' %>>CS2</option>
    <option value="CIVIL" <%= temp ==='CIVIL' ? 'selected' : '' %>>CIVIL</option>
    <option value="EN1" <%= temp ==='EN1' ? 'selected' : '' %>>EN1</option>
    <option value="EN2" <%= temp ==='EN2' ? 'selected' : '' %>>EN2</option>
    <option value="IT1" <%= temp ==='IT1' ? 'selected' : '' %>>IT1</option>
    <option value="IT2" <%= temp ==='IT2' ? 'selected' : '' %>>IT2</option>
    <option value="IT3" <%= temp ==='IT3' ? 'selected' : '' %>>IT3</option>
    <option value="CSIT1" <%= temp ==='CSIT1' ? 'selected' : '' %>>CSIT1</option>
    <option value="CSIT2" <%= temp ==='CSIT2' ? 'selected' : '' %>>CSIT2</option>

    <option value="MECH" <%= temp ==='MECH' ? 'selected' : '' %>>MECH</option>
    <option value="ECE1" <%= temp ==='ECE1' ? 'selected' : '' %>>ECE1</option>
    <option value="ECE2" <%= temp ==='ECE2' ? 'selected' : '' %>>ECE2</option>
</select>